.git
.gitignore

.venv
__pycache__
*.pyc
*.pyo
*.py[cod]
.pytest_cache
.ruff_cache
.mypy_cache

.idea
.vscode

.DS_Store
Thumbs.db

.env

gyoum.db
gyoum.db-*

docker-compose.yml
Dockerfile
.dockerignore
